#header{
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    height: 2vh;
}

.mainHeader{
    text-align: center;
    font-weight: 900;
}